html {
  font-family: 'Open Sans';
  font-style: normal;
}

body {
  margin: 0px;
}

header {
  display: flex;
  padding: 68px 30px 0px 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 66px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  /* width: 428px; */
  height: 72px;
  margin-right: 100px;
}

.logo-img {
  width: 72px;
  height: 72px;
  margin-right: 10px;
  background-image: url(../img/avocadoLogo.svg);
}

.logo-text {
  font-weight: 800;
  font-size: 50px;
  /* line-height: 68px; */
  color: #94DA3A;
  text-shadow: 6px 6px 0px rgba(175, 6, 6, 0.5); 
}

.choose-menu {
  display: flex;
  align-items: center;
  width: 170px;
  height: 48px;
}

.choose-icon {
  background-image: url(../img/choose-icon.svg);
  width: 30px;
  height: 30px;
}

.call-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
}

.call-us-icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  background-image: url(../img/call-icon.svg);
}

.call-us-info-wrapper {
  display: flex;
  flex-direction: column;

}

.delivery-content {
  display: flex;
  justify-content: space-between;
  /* width: 1430px; */
  height: 600px;
  padding: 80px 0px 0px 80px;
}

.ramen-picture {
  width: 600px;
  height: 600px;
  background-image: url(../img/ramen-picture.svg);
}

.delivery-description-wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.delivery-header-text {
  display: flex;
  flex-direction: column;

}

.delivery-desc-text {
  width: 470px;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  color: #000000;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.desc-text-wrapper {
  position: relative;
  width: 680px;
}

.salad-picture {
  position: absolute;
  right: 90px;
  top: 30px;
  width: 146px;
  height: 179px;
  transform: rotate(120deg);
  background-image: url(../img/salad-image.svg);
}

.eat-well-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #000000;
}

.pick-ration-btn {
  width: 250px;
  height: 50px;
  margin-top: 50px;
  background: linear-gradient(82.13deg, #A6F047 16.63%, rgba(139, 216, 42, 0.8) 68.36%, #78C615 92.48%);
  border-color: transparent;
  border-radius: 5px;
  outline: none;
  color: #454545;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.our-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.advantage {
 width: 200px;
}

.green-border {
  width: 50px;
  height: 85px;
  background-image: url(../img/green-border.svg);
  background-repeat: no-repeat;
}